/* assigned by Glade */

.main {
    font-size: 18px;
    color: white;
    background: black;
}

.main text {
    color: white;
    background: black;
}

.main button {
    font-size: 12px;
    font-weight: bold;
    color: white;
    background: black;
    border: 1px solid lightgray;
    padding: 4px;
    margin: 1px 1px 0px 0px;
    border-radius: 5px;
}

.main button:hover {
    background: darkslategray;
}

.main button:active {
    color: black;
    background: white;
}

.main entry {
    color: white;
    background: black;
}

.button_label {
    font-size: 10px;
}

.fixed {
    font-family: monospace;
}

/* manipulated in code */

.highlight {
    color: black;
    background: yellow;
    border-radius: 3px;
}

.inactive {
    color: #3f3f3f;
}

.tx_inactive {
    color: #3f0000;
}

.rx_inactive {
    color: #3f3f00;
}

.tx_active {
    color: red;
}

.rx_active {
    color: #ffff00;
}


