.main {
    font-size: 18px;
    color: white;
    background: black;
}

.main button {
    font-size: 12px;
    font-weight: bold;
    color: white;
    background: black;
    border: 1px solid lightgray;
    padding: 4px;
    margin: 1px 1px 0px 0px;
    border-radius: 5px;
}

.main button:hover {
    background: darkslategray;
}

.main button:active {
    color: black;
    background: white;
}

.main entry {
    color: white;
    background: black;
}

.button_label {
    font-size: 10px;
}

.highlight {
    color: black;
    background: yellow;
    border-radius: 3px;
}

.vfo_inactive {
    color: gray;
}

.vfo_tx_inactive {
    color: yellowgreen;
}

.vfo_rx_inactive {
    color: green;
}

.vfo_tx_active {
    color: red;
}

.vfo_rx_active {
    color: yellow;
}

.fixed {
    font-family: monospace;
}
